/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Epilogue, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(226 232 240);
}

p {
  margin-bottom: 1rem;
}

code {
  padding: 2px 5px;
  background-color: #222;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.blog-page h1,
.blog-page h2,
.blog-page h3,
.blog-page h4,
.blog-page h5,
.blog-page h6 {
  color: rgb(226 232 240);
  font-weight: 800;
}

.blog-page img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.blog-page small {
  color: #aaa;
}

.blog-page p > a {
  color: #94a3b8;
  text-underline-offset: 2px;
  text-decoration: underline;
}
.blog-page p > a:hover,
.blog-page p > a:active {
  color: #60a5fa;
}

.blog-page p > a:visited {
  color: #976ff3;
}
