---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class='max-w-screen-xl'>
    <header class='px-6 sm:px-8 pt-20 sm:pt-24 lg:pt-32 md:px-20 md:pt-42'>
      <h1
        class='text-slate-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-[95px] text-left max-w-screen-md'
      >
        Sensationally Awkward
      </h1>
    </header>
  </div>
</MainLayout>
